<div class="container jumbotron bg-dark">
  <div class="row">
              <div class="col-sm-3 text-primary">
                <h1> <b>html</b></h1>
                <button class="btn btn-primary" [disabled]="!allownewserver">add server</button>
  <p [innerText]="allownewserver"></p>
              </div>
                    <div class="col-sm-6 image1">
                      <div class="container jay146">

                            <div class="col-sm">

                              <img src="./assets/data/download.png" target="_blank">
                            </div>

                      </div>
                      </div>
                              <div class="col-sm-3 text-success">
                                   <h1><b>typescript </b></h1>
                                </div>
  </div>
  </div>
